<ol>
	<li>Sydney Covitz, Tinashe&nbsp;M Tapera, Azeez Adebimpe, Aaron&nbsp;F Alexander-Bloch, Maxwell&nbsp;A Bertolero, Eric Feczko, Alexandre&nbsp;R Franco, Raquel&nbsp;E Gur, Ruben&nbsp;C Gur, Timothy Hendrickson, and others.
Curation of bids (cubids): a workflow and software package for streamlining reproducible curation of large bids datasets.
<em>NeuroImage</em>, 263:119609, 2022.</li>
	<li>Mauricio&nbsp;Scopel Hoffmann, Daniel&nbsp;S Pine, Katholiki Georgiades, Peter Szatmari, Euripedes&nbsp;Constantino Miguel, Pedro&nbsp;Mario Pan, Ary Gadelha, Luis&nbsp;Augusto Rohde, Kathleen&nbsp;Ries Merikangas, Michael&nbsp;Peter Milham, and others.
Comparing mental health semi-structured diagnostic interviews and symptom checklists to predict poor life outcomes: an 8-year cohort study from childhood to young adulthood in brazil.
<em>The Lancet Global Health</em>, 12(1):e79–e89, 2024.</li>
	<li>Maur<span class="bibtex-protected">í</span>cio&nbsp;Scopel Hoffmann, Tyler&nbsp;Maxwell Moore, Luiza&nbsp;Kvitko Axelrud, Nim Tottenham, Pedro&nbsp;Mario Pan, Eur<span class="bibtex-protected">í</span>pedes&nbsp;Constantino Miguel, Luis&nbsp;Augusto Rohde, Michael&nbsp;Peter Milham, Theodore&nbsp;Daniel Satterthwaite, and Giovanni&nbsp;Abrah<span class="bibtex-protected">ã</span>o Salum.
An evaluation of item harmonization strategies between assessment tools of psychopathology in children and adolescents.
<em>Assessment</em>, 31(2):502–517, 2024.</li>
	<li>Maur<span class="bibtex-protected">í</span>cio&nbsp;Scopel Hoffmann, Tyler&nbsp;Maxwell Moore, Luiza&nbsp;Kvitko Axelrud, Nim Tottenham, Luis&nbsp;Augusto Rohde, Michael&nbsp;Peter Milham, Theodore&nbsp;Daniel Satterthwaite, and Giovanni&nbsp;Abrah<span class="bibtex-protected">ã</span>o Salum.
Harmonizing bifactor models of psychopathology between distinct assessment instruments: reliability, measurement invariance, and authenticity.
<em>International Journal of Methods in Psychiatric Research</em>, 32(3):e1959, 2023.</li>
	<li>Gregory Kiar, Jon Clucas, Eric Feczko, Mathias Goncalves, Dorota Jarecka, Christopher&nbsp;J Markiewicz, Yaroslav&nbsp;O Halchenko, Robert Hermosillo, Xinhui Li, Oscar Miranda-Dominguez, and others.
Align with the nmind consortium for better neuroimaging.
<em>Nature Human Behaviour</em>, 7(7):1027–1028, 2023.</li>
	<li>Xinhui Li, Nathalia&nbsp;Bianchini Esper, Lei Ai, Steve Giavasis, Hecheng Jin, Eric Feczko, Ting Xu, Jon Clucas, Alexandre Franco, Anibal&nbsp;Sólon Heinsfeld, Azeez Adebimpe, Joshua&nbsp;T. Vogelstein, Chao-Gan Yan, Oscar Esteban, Russell&nbsp;A. Poldrack, Cameron Craddock, Damien Fair, Theodore Satterthwaite, Gregory Kiar, and Michael&nbsp;P. Milham.
Moving <span class="bibtex-protected">Beyond</span> <span class="bibtex-protected">Processing</span> and <span class="bibtex-protected">Analysis</span>-<span class="bibtex-protected">Related</span> <span class="bibtex-protected">Variation</span> in <span class="bibtex-protected">Neuroscience</span>.
<em>bioRxiv</em>, 2024.
URL: <a href="https://www.biorxiv.org/content/early/2024/01/23/2021.12.01.470790">https://www.biorxiv.org/content/early/2024/01/23/2021.12.01.470790</a>, <a href="https://doi.org/10.1101/2021.12.01.470790">doi:10.1101/2021.12.01.470790</a>.</li>
	<li>Audrey&nbsp;C Luo, Valerie&nbsp;J Sydnor, Adam Pines, Bart Larsen, Aaron&nbsp;F Alexander-Bloch, Matthew Cieslak, Sydney Covitz, Andrew&nbsp;A Chen, Nathalia&nbsp;Bianchini Esper, Eric Feczko, and others.
Functional connectivity development along the sensorimotor-association axis enhances the cortical hierarchy.
<em>Nature Communications</em>, 15(1):3511, 2024.</li>
	<li>Maur<span class="bibtex-protected">í</span>cio Scopel&nbsp;Hoffmann, Tyler&nbsp;Maxwell Moore, Luiza Kvitko&nbsp;Axelrud, Nim Tottenham, Xi-Nian Zuo, Luis&nbsp;Augusto Rohde, Michael&nbsp;Peter Milham, Theodore&nbsp;Daniel Satterthwaite, and Giovanni&nbsp;Abrah<span class="bibtex-protected">ã</span>o Salum.
Reliability and validity of bifactor models of dimensional psychopathology in youth.
<em>Journal of Psychopathology and Clinical Science</em>, 131(4):407, 2022.</li>
	<li>Chenying Zhao, Dorota Jarecka, Sydney Covitz, Yibei Chen, Simon&nbsp;B Eickhoff, Damien&nbsp;A Fair, Alexandre&nbsp;R Franco, Yaroslav&nbsp;O Halchenko, Timothy&nbsp;J Hendrickson, Felix Hoffstaedter, and others.
A reproducible and generalizable software workflow for analysis of large-scale neuroimaging data collections using bids apps.
<em>Imaging Neuroscience</em>, 2:1–19, 2024.</li>
</ol>