<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="page__footer fixed-bottom">
  <div class="container">
      <div class="row">
          <div class="col-6 text-left">
              Supported by
              <a href="https://reporter.nih.gov/search/e9_-eAc68EOR6N2XajbTiQ/project-details/10626901">NIMH120482</a>
              &
              <a href="https://aws.amazon.com/free/?gclid=Cj0
              KCQjwpNuyBhCuARIsANJqL9NGNAkObC-xtht8wRe5Cb6L-zG9-kBPlKlQD
              dznKSb1ZuDIVBxBnmEaAtJGEALw_wcB&trk=fce796e8-4ceb-48e0-9767
              -89f7873fac3d&sc_channel=ps&ef_id=Cj0KCQjwpNuyBhCuARIsANJqL
              9NGNAkObC-xtht8wRe5Cb6L-zG9-kBPlKlQDdznKSb1ZuDIVBxBnmEaAtJG
              EALw_wcB:G:s&s_kwcid=AL!4422!3!432339156150!e!!g!!aws!164404
              5032!68366401852">AWS</a>
          </div>
          <div class="col-6 text-right">
              <a href="{{ '/sitemap/' | relative_url }}">Sitemap</a> |
              <a href="{{ '/docs/community/get_support/' | relative_url }}">Get Support</a>
          </div>
      </div>
  </div>
</div>
