<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="page__footer fixed-bottom">
  <div class="container">
      <div class="row">
          <div class="col-6 text-left">
              &copy; 2020 <a href="{{ site.url | relative_url }}">{{ site.title }}</a> &mdash; All rights reserved.
          </div>
          <div class="col-6 text-right">
              <a href="{{ '/sitemap/' | relative_url }}">Sitemap</a> |
              <a href="{{ '/docs/community/get_support/' | relative_url }}">Get Support</a>
          </div>
      </div>
  </div>
</div>
