/* ==========================================================================
   RBC skin
   ========================================================================== */

/* Colors */
$background-color: #fffdfd !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #0092ca !default;
$border-color:  #fffdfd !default;
$footer-background-color: $primary-color !default;
$info-color: #3b9cba;
$link-color: mix(#000, $info-color, 20%);
$link-color-hover: mix(#000, $link-color, 25%);
$link-color-visited: mix(#fff, $link-color, 15%);
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
